/* general */


* {
    box-sizing: border-box;
}

@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Medium.ttf)
}


body {
    margin: 0;
    background-color: #22252e;

}

button, .btn {
    cursor: pointer;
}


/* gallery */
header {
    background: linear-gradient(90deg, #139bb1 0%, #2cbc74 100%);
    border-radius: 3em;
    height: 70px;
    max-width: 1370px;
    margin: 10px auto;
    font-family: 'poppins';
    font-size: 1.2rem;
}

header ul {
    gap: 20px;
}

header ul li:last-child {
    margin-inline-end: 70px;
}

.logo {
    color: white;
    text-transform: uppercase;

    margin-inline-start: 70px;
    line-height: 3.5em;
}

.main-layout {
    max-width: 1350px;
    margin: 10px auto;
}

.gallery {
    /* max-width: 1170px; */
    background-color: #383b44;
    border-radius: 0.4rem;
    padding: 40px 50px 50px 40px;
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 180px;
    gap: 30px;
}

.images-container .image img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 8px 3px 0px #0000006b;
}

.images-container {
    justify-content: center;
}



/* canvas */

.grid-text-controls {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(2, 60px);
    gap: 15px;
    justify-content: space-between;
}

.text-controls .font-style {
    grid-column: span 3;
}

.editor-container {
    display: none;
    height: 770px;
}

.editor {
    /* background-color: aqua; */
    margin: 2vh auto;
    max-width: 1350px;
    height: 100%;
}

.editor-controls {
    background-color: rgb(56, 59, 66);
    padding: 25px;
    width: 600px;
    height: 600px;
    border-radius: 2em;
    padding-left: 50px;
    padding-right: 50px;
}

.editor-controls .btn, .editor-controls select, .editor-controls input {
    /* box-shadow: inset 0 4px 0px #ffffff94; */
    box-shadow: inset 0 -4px 0px #00000094;
}

.editor-controls input[name="txt"] {
    display: block;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 3em;
    text-align: center;
    font-size: 1.6rem;
    color: #3d3d3d;
    font-family: 'poppins';
    margin-bottom: 15px;
}

.line-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

}

.line-controls>* {
    margin-inline-end: 25px;
    border-radius: 0.6rem;
}

.text-controls>* {
    border-radius: 0.6rem;

}

.text-controls {
    margin-bottom: 25px;
    background-color: #19a59f;
    padding: 10px;
    border-radius: 0.8rem;
}


.btn-text {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
    border: none;
    object-fit: contain;
    border: none;
    color: none;
}

.move-line {
    background-image: url(../img/icons/up-and-down-arrows.png);
}

.increase-font-weight {
    background-image: url(../img/icons/A-plus.png);
}

.decrease-font-weight {
    background-image: url(../img/icons/a-minus.png);
}

.align-left {
    background-image: url(../img/icons/AL.png);
}

.align-right {
    background-image: url(../img/icons/AR.png);
}

.align-center {
    background-image: url(../img/icons/AC.png);
}

.font-style {
    font-family: 'poppins';
    padding-inline-start: 25px;
    font-size: 1.4rem;
}

.stroke {
    background-image: url(../img/icons/stroke.png);
}

.fill {
    background-image: url(../img/icons/color.png);
}

.delete-line {
    background-image: url(../img/icons/trash.png);
}

.add-line {
    background-image: url(../img/icons/Add-line.png);
}


canvas {
    display: block;
}

.canvas-container {
    width: 600px;
    height: 600px;
}


/* main */



.open {
    display: block;
}

/* helpers */


.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.center-items {
    align-items: center;
}

.clean-list {
    list-style: none;
}