@import 'mobile.css';
@import 'desktop.css'screen and (min-width: 980px);


/* general */


* {
    box-sizing: border-box;
}

@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Medium.ttf)
}

@font-face {
    font-family: "impact";
    src: url(../fonts/impact.ttf)
}


body {
    margin: 0;
    background-color: #22252e;

}


.btn {
    background-color: white;
}

/* gallery */
header {
    background: linear-gradient(90deg, #139bb1 0%, #2cbc74 100%);
    border-radius: 3em;
    height: 70px;
    margin: 10px auto;
    font-family: 'poppins';
    font-size: 1.2rem;
}

header ul {
    gap: 20px;
}



.logo {
    margin-block-start: 25px;
    height: 100%;
    align-self: center;
}

.logo img {
    height: 60%;
}

.main-layout {
    margin: 10px auto;
}

.gallery {
    background-color: #383b44;
    border-radius: 0.4rem;
    padding: 40px 50px 50px 40px;
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 180px;
    gap: 30px;
}

.images-container .image img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 8px 3px 0px #0000006b;
}

.images-container {
    justify-content: center;
}



/* canvas */



.text-controls .font-style {
    grid-column: span 3;
}

.editor-container {
    display: none;
}

.editor {
    margin: 2vh auto;
}

.editor-controls {
    background-color: rgb(56, 59, 66);
    padding: 25px;
    border-radius: 2em;
    padding-left: 50px;
    padding-right: 50px;
}

.btn, .editor-controls select, .editor-controls input {
    box-shadow: inset 0 -4px 0px #00000094;
}

.editor-controls input[name="txt"] {
    display: block;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 3em;
    text-align: center;
    font-size: 1.6rem;
    color: #3d3d3d;
    font-family: 'poppins';
    margin-bottom: 15px;
}

.line-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

}

.line-controls>*, .btn-menu {
    margin-inline-end: 25px;
    border-radius: 0.6rem;
}

.text-controls>* {
    border-radius: 0.6rem;

}

.text-controls {
    margin-bottom: 25px;
    background-color: #19a59f;
    padding: 10px;
    border-radius: 0.8rem;
}


.btn-text, .stroke-label, .fill-label {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
    border: none;
    object-fit: contain;
    border: none;
    color: none;
}

.move-line {
    background-image: url(../img/icons/up-and-down-arrows.png);
}

.increase-font-weight {
    background-image: url(../img/icons/A-plus.png);
}

.decrease-font-weight {
    background-image: url(../img/icons/a-minus.png);
}

.align-left {
    background-image: url(../img/icons/AL.png);
}

.align-right {
    background-image: url(../img/icons/AR.png);
}

.align-center {
    background-image: url(../img/icons/AC.png);
}

.font-style {
    font-family: 'poppins';
    padding-inline-start: 25px;
    font-size: 1.4rem;
    background-color: white;
}

.stroke-label {
    background-image: url(../img/icons/stroke.png);
}

#stroke-input {
    visibility: hidden;
}

.fill-label {
    background-image: url(../img/icons/color.png);
}

#fill-input {
    visibility: hidden;
}

.fill {
    background-image: url(../img/icons/color.png);
}

.delete-line {
    background-image: url(../img/icons/trash.png);
}

.add-line {
    background-image: url(../img/icons/Add-line.png);
}


canvas {
    display: block;
}



/* main */



.open {
    display: block;
}

.main-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .35);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center-items {
    align-items: center;
}

.clean-list {
    list-style: none;
}